@charset "UTF-8";

*{
	margin:0;
	padding:0;
	text-align: center;
	list-style:none;
	font-family: 'Sunflower', sans-serif;
}

a{
	color:#32495e;
	text-decoration:none;
}
p{
	color:#32495e;
}
#myVideo{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: contain;
	object-fit: cover; /*cover video background */
	z-index:1;
}
.bgGray{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #ddd;
	opacity: 0.7;
	z-index:2;
}
.me{
	position: absolute;
	z-index: 3;
	width: 50%;
    top: 15%;
	left: 0;
}
#myProfileImg{
	width: 40%;
	display: block;
    margin: 0px auto;
	margin-bottom: 5%;
}
#myProfileImg > img{
	width:100%;
	height:100%;
	border-radius: 35%;
}
#name{
	font-size: 50px;
}
#job{
	font-size:35px;
}
.myContents{
	position: absolute;
	z-index: 3;
	width:50%;
	top: 15%;
    left: 50%;
}
#mySNS{text-align: left;}
#mySNS > a{
	margin: 0px 2%;
	display: inline-block;
}
#mySNS > a:hover{
	color: #ddd;
	
}
#mySNS > a:hover > .myIcon{
	border: 3px solid #ddd;
}
#mySNS > a > p{
	margin-top: 3%;
	font-size: 20px;
}
.myIcon{
	font-size: 80px;
	padding: 15px;
    margin: 2px;
	border: 3px solid #32495e;
    border-radius: 50%;
}
.secondMyIcon{
	padding: 15px 20px;
    margin: 2px;
}
.thirdMyIcon{
	padding: 15px 25px;
    margin: 2px;
}
.linkTo{
	position: absolute;
	z-index: 3;
	width:50%;
	top: 30%;
    left: 50%;
}
.linkTo > div{
	margin: 5% 2%;
	font-size: 35px;
    text-align: left;
}
.linkTo > div > a{
	font-weight: bold;
}
.linkTo > div > a:hover{

	color: #ddd;
}
.linkTo > div > li {
	font-weight: bold;
    text-align: left;
}
#vision > a:hover{
	color: #ddd;
}
#openBox{
	font-weight: 50;
	display: none;
}
#openBox > p{
	text-align: left;
    border-top: 2px solid;
    border-bottom: 2px solid;
    width: 75%;
}
.goToHome{
	position: absolute;
    font-size: 60px;
    right: 30px;
    bottom: 30px;
}