@charset "UTF-8";

*{
	margin:0;
	padding:0;
	text-align: center;
	list-style:none;
	font-family: 'Sunflower', sans-serif;
}

a{
	color:#ffffff;
	text-decoration:none;
}
p{
	color:#ffffff;
}
canvas{
    display: block;

}
/* ---- particles.js container ---- */
#particles-js{
	position:absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	z-index: 1;
}
.bg{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.2;
	z-index:2;
}
.me{
	position: absolute;
	z-index: 3;
	width: 100%;
    top: 15%;
	left: 0;
}
.me::after{clear:both;content:"";display: block;}
#profile{
	width: 40%;
	float:left;
}
#myProfileImg{
	width: 50%;
    margin: 0px auto;
	margin-bottom: 5%;
}
#myProfileImg > img{
	width:100%;
	height:100%;
	border-radius: 35%;
}
#name{
	font-size: 50px;
}
#job{
	font-size:35px;
}
.myContents{
	width:50%;
	float:left;
}
#mySNS{text-align: left;}
#mySNS > a{
	margin: 0px 2%;
	display: inline-block;
}
#mySNS > a:hover{
	color: #000000;
	
}
#mySNS > a:hover > .myIcon{
	color:#32495e;
	background-color: #ffffff;
	border: 3px solid #32495e;
}
#mySNS > a > p{
	margin-top: 3%;
	font-size: 20px;
}
.myIcon{
	font-size: 80px;
	padding: 15px;
	border: 3px solid #ffffff;
    border-radius: 50%;
	transition: all .2s;
}
.secondMyIcon{
	padding: 15px 20px;
}
.thirdMyIcon{
	padding: 15px 25px;
}
.linkTo{
	margin-top: 10%;
}
.linkTo > div{
	margin: 5% 2%;
	font-size: 35px;
    text-align: left;
}
.linkTo > div > a{
	font-weight: bold;
}
.linkTo > div > a:hover{
	color: #b5d5fa;
}
.linkTo > div > li {
	font-weight: bold;
    text-align: left;
}
#vision > a:hover{
	color: #b5d5fa;
}
#openBox{
	font-weight: 50;
	display: none;
}
#openBox > p{
	text-align: left;
    border-top: 2px solid;
    border-bottom: 2px solid;
	padding: 1% 0px;
}
.goToHome{
	position: absolute;
    font-size: 5vh;
    right: 30px;
    bottom: 30px;
}
.goToHome > a{
	color:black;
}
.goToHome > a:hover{
	color:#32495e;
}
.bgImg{
	width: 100%;
	height: 100%;
	padding: 3% 0;
	background-image: url("../img/bgImg.jpg");
}
.contentsBodyDiv{
	width: 95vw;
    height: 90vh;
	position: relative;
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 25px;
	overflow: hidden;
}
.contentsBodyDiv::after{clear:both;content:"";display: block;}
.contentsBodyDiv > p{
	color: black;
	text-align: left;
	margin: 0 4%;
	font-size: 2vw;
    font-weight: lighter;
}
#titleP{
	font-size: 5vh;
	padding-top: 1%;
	border-bottom: 3px solid #32495e;
	text-align: center;
}
#subTitleP{
	width: 50vw;
	font-size: 2.5vw;
	font-weight: 900;
	margin-top: 1vh;
	margin-bottom: 1vh;
	border-bottom:2px solid #32495e;
}
#subTitleP2{
	width: 40vw;
	font-size: 3vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	border-bottom:2px solid #32495e;
	color:black;
	text-align: left;
}
#skillDiv{
	width:40vw;
	height: 50%;
	margin-left: 4vw;
	float:left;
}
#Skills > tr > td > p{
	color:black;
}
#firstLine > td{
	width: 10vw;
}
#firstLine > td > img{
	width:8vw;
	box-shadow: 0 4px 8px rgba(0,0,0,.2), 0 4px 8px rgba(0,0,0,.2);
	border-radius: 10px;
}
#secondLine > td > p{
	color:black;
}
#myProject{
	width:80%;
	height: 80vh;
	margin: 0 auto;
}
#myProject::after{clear:both;content:"";display: block;}
#leftC{
	width: 49%;
    height: 70vh;
    margin-top: 5vh;
    border-right: 3px solid #32495e;
	float:left;
}
#rightC{
	width: 50%;
    height: 70vh;
    margin-top: 5vh;
	float:left;
}
#projectImg{
	width:30vw;
	margin-top:20%;
	margin-right:20%;
}
#projectImg > img{
	width:100%;
	height:100%;
}
#projectContents{
	width: 30vw;
	margin-top:20%;
	margin-left:20%;
}
#projectContents > p{
	color:black;
	text-align: left;
	font-size: 1.4vw;
}
#projectContents > p > a{
	border: 2px solid black;
	padding: 4px 3px;
	border-radius: 8px;
	color:black;
}
#projectContents > p > a:hover{
	border: 2px solid cornflowerblue;
	color:cornflowerblue;
}


@media only screen and (max-width: 1145px) and (orientation: landscape){
	.myContents{
		margin-left: 5%;
	}
	.myIcon{
		font-size: 60px;
		padding: 15px;
		border: 3px solid #ffffff;
		border-radius: 50%;
	}
	.secondMyIcon{
		padding: 15px 18.76px;
	}
	.thirdMyIcon{
		padding: 15px 22.5px;
	}
	#name{
		font-size: 40px;
	}
	#job{
		font-size:25px;
	}
}
@media only screen and (max-width: 940px) and (orientation: landscape){
	.myIcon{
		font-size: 50px;
		padding: 15px;
		border: 3px solid #ffffff;
		border-radius: 50%;
	}
	.secondMyIcon{
		padding: 15px 18.13px;
	}
	.thirdMyIcon{
		padding: 15px 21.25px;
	}
	.linkTo > div{
		margin: 5% 2%;
		font-size: 25px;
	}
}
@media only screen and (max-width: 854px) and (orientation: landscape){
	.myIcon{
		font-size: 40px;
		padding: 15px;
		border: 3px solid #ffffff;
		border-radius: 50%;
	}
	.secondMyIcon{
		padding: 15px 18.13px;
	}
	.thirdMyIcon{
		padding: 15px 21.25px;
	}
	#mySNS > a > p {
		font-size: 15px;
	}
	.linkTo > div{
		margin: 5% 2%;
		font-size: 25px;
	}
}
@media only screen and (max-width: 757px) and (orientation: landscape){
	#name{
		font-size: 30px;
	}
	#job{
		font-size:15px;
	}
	.myIcon{
		font-size: 30px;
		padding: 15px;
		border: 2px solid #ffffff;
		border-radius: 50%;
	}
	.secondMyIcon{
		padding: 15px 16.89px;
	}
	.thirdMyIcon{
		padding: 15px 18.76px;
	}
	.linkTo > div{
		margin: 5% 2%;
		font-size: 25px;
	}
}
@media only screen and (max-width: 638px) and (orientation: landscape){
	.linkTo{
		margin:0;
	}
	#mySNS{
		position: fixed;
		bottom: 10%;
		left: 0px;
		width: 100%;
		text-align: center;
	}
	.myIcon{
		font-size: 30px;
		padding: 15px;
		border: 2px solid #ffffff;
		border-radius: 50%;
	}
	.secondMyIcon{
		padding: 15px 16.89px;
	}
	.thirdMyIcon{
		padding: 15px 18.76px;
	}
	.linkTo > div{
		margin: 5% 2%;
		font-size: 25px;
	}
}
@media only screen and (orientation: portrait) {
	.me{
		width: 100%;
		top: 5%;
		left: 0px;
	}
	#profile {
		width: 100%;
	}
	#myProfileImg{
		width: 30%;
		margin-bottom: 0px;
	}
	.myContents{
		width: 100%;
		margin-top:2%;
	}
	#mySNS {
		text-align: center;
	}
	.linkTo{
		margin: 5% auto;
	}
	.linkTo > div{
		margin: 2% 2%;
		font-size: 35px;
		text-align: center;
	}
	.linkTo > div > li {
		text-align: center;
	}
	#openBox > p {
		text-align: center;
		border-top: 2px solid;
		border-bottom: 2px solid;
		width:85%;
		margin: 0 auto;
		padding: 2% 0px;
		font-size: 30px;
	}
	#leftC{
		width: 100%;
		height: 30vh;
		margin-top: 5vh;
		border-bottom: 3px solid #32495e;
		border-right: none;
		float:none;
	}
	#projectImg {
		width: 50vw;
		margin: 2vh auto;
	}
	#rightC{
		width: 100%;
		height: 30vh;
		margin-top: 0;
		float:none;
	}
	#projectContents {
		width: 75vw;
		margin: 15% auto;
	}
	#projectContents > p {
		text-align: center;
		font-size: 2.4vw;
	}
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
	.me{
		width: 100%;
		top: 5%;
		left: 0px;
	}
	.myContents{
		width: 100%;
	}
	#mySNS {
		text-align: center;
	}
	.linkTo{
		margin: 5% auto;
	}
	.linkTo > div{
		margin: 2% 2%;
		font-size: 35px;
		text-align: center;
	}
	.linkTo > div > li {
		text-align: center;
	}
	#openBox > p {
		text-align: center;
		border-top: 2px solid;
		border-bottom: 2px solid;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 959px) and (orientation: portrait) {
	#myProfileImg {
		width: 25%;
		margin-bottom: 0px;
	}
	.myIcon{
		font-size: 5vw;
		padding: 15px;
		border: 3px solid #ffffff;
		border-radius: 50%;
	}
	.secondMyIcon{
		padding: 15px 17.5px;
	}
	.thirdMyIcon{
		padding: 15px 20px;
	}
	#name{
		font-size: 10vw;
	}
	#job{
		font-size:5.5vw;
	}
	
}
@media only screen and (min-device-width: 280px) and (max-device-width:540px) and (orientation: portrait){
	.me{
		width: 100%;
		top: 5%;
		left: 0px;
	}
	.myContents{
		width: 100%;
		margin-top:5%;
	}
	.myIcon {
		font-size: 5vw;
		padding: 2vw;
	}
	.secondMyIcon{
		padding: 2vw 2.31vw;
	}
	.thirdMyIcon{
		padding: 2vw 2.63vw;
	}
	#mySNS {
		text-align: center;
	}
	#mySNS > a > p {
		font-size: 5vw;
	}
	.linkTo{
		margin: 5% auto;
	}
	.linkTo > div{
		margin: 5% 2%;
		font-size: 8vw;
		text-align: center;
	}
	.linkTo > div > li {
		font-size: 8vw;
		text-align: center;
	}
	#openBox > p {
		font-size: 5vw;
		text-align: center;
		border-top: 2px solid;
		border-bottom: 2px solid;
		margin: 0 auto;
	}
}

