@charset "UTF-8";

*{
	margin:0;
	padding:0;
	text-align: center;
	list-style:none;
	font-family: 'Sunflower', sans-serif;
}

a{
	color:#ffffff;
	text-decoration:none;
}
p{
	color:#ffffff;
}
canvas{
    display: block;

}
/* ---- particles.js container ---- */
#particles-js{
	position:absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	z-index: 1;
}
.bg{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.2;
	z-index:2;
}
.me{
	position: absolute;
	z-index: 3;
	width: 50%;
    top: 15%;
	left: 0;
}
#myProfileImg{
	width: 40%;
	display: block;
    margin: 0px auto;
	margin-bottom: 5%;
}
#myProfileImg > img{
	width:100%;
	height:100%;
	border-radius: 35%;
}
#name{
	font-size: 50px;
}
#job{
	font-size:35px;
}
.myContents{
	position: absolute;
	z-index: 3;
	width:50%;
	top: 15%;
    left: 50%;
}
#mySNS{text-align: left;}
#mySNS > a{
	margin: 0px 2%;
	display: inline-block;
}
#mySNS > a:hover{
	color: #000000;
	
}
#mySNS > a:hover > .myIcon{
	color:#32495e;
	background-color: #ffffff;
	border: 3px solid #32495e;
}
#mySNS > a > p{
	margin-top: 3%;
	font-size: 20px;
}
.myIcon{
	font-size: 80px;
	padding: 15px;
	border: 3px solid #ffffff;
    border-radius: 50%;
}
.secondMyIcon{
	padding: 15px 20px;
}
.thirdMyIcon{
	padding: 15px 25px;
}
.linkTo{
	width:50%;
}
.linkTo > div{
	margin: 5% 2%;
	font-size: 35px;
    text-align: left;
}
.linkTo > div > a{
	font-weight: bold;
}
.linkTo > div > a:hover{
	color: #b5d5fa;
}
.linkTo > div > li {
	font-weight: bold;
    text-align: left;
}
#vision > a:hover{
	color: #b5d5fa;
}
#openBox{
	font-weight: 50;
	display: none;
}
#openBox > p{
	text-align: left;
    border-top: 2px solid;
    border-bottom: 2px solid;
    width: 75%;
}
.goToHome{
	position: absolute;
    font-size: 60px;
    right: 30px;
    bottom: 30px;
}
@media (max-width: 1145px){
	.myIcon{
		font-size: 60px;
		padding: 15px;
		border: 3px solid #ffffff;
		border-radius: 50%;
	}
	.secondMyIcon{
		padding: 15px 18.76px;
	}
	.thirdMyIcon{
		padding: 15px 22.5px;
	}
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
	.me{
		width: 70%;
		top: 5%;
		left: 15%;
	}
	.myContents{
    	top: 45%;
    	left: 25%;
	}
	#mySNS {
		text-align: center;
	}
	.linkTo{
		margin: 5% auto;
	}
	.linkTo > div{
		margin: 10% 2%;
		font-size: 35px;
		text-align: center;
	}
	.linkTo > div > li {
		text-align: center;
	}
	#openBox > p {
		text-align: center;
		border-top: 2px solid;
		border-bottom: 2px solid;
		width: 75%;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 1024px) and (max-height: 1300px){
	.myContents{
		top:47%;
	}
}
@media only screen and (max-width: 1024px) and (max-height: 1230px){
	.myContents{
		top: 50%;
	}
	.myIcon{
		font-size: 40px;
		padding: 15px;
		border: 3px solid #ffffff;
		border-radius: 50%;
	}
	.secondMyIcon{
		padding: 15px 17.5px;
	}
	.thirdMyIcon{
		padding: 15px 20px;
	}
}
@media only screen and (max-width: 1024px) and (max-height: 1130px){
	.me {
		width: 60%;
		top: 5%;
		left: 20%;
	}
	.myContents{
		top: 48%;
	}
}
@media only screen and (max-width: 1024px) and (max-height: 1130px){
	.me {
		width: 60%;
		top: 5%;
		left: 20%;
	}
	.myContents{
		top: 50%;
	}
}
@media only screen and (max-width: 1024px) and (max-height: 1130px){
	.me {
		width: 40%;
		top: 5%;
		left: 30%;
	}
	.myContents {
		top: 43%;
	}
}
@media only screen and (max-width: 1024px) and (max-height: 900px){
	.myContents {
		top: 40%;
	}
	#myProfileImg {
		margin: 0px auto;
	}
	#name {
		font-size: 35px;
	}
	#job{
		font-size: 20px;
	}
	
}
@media (max-width: 940px){
	.myIcon{
		font-size: 40px;
		padding: 15px;
		border: 3px solid #ffffff;
		border-radius: 50%;
	}
	.secondMyIcon{
		padding: 15px 17.5px;
	}
	.thirdMyIcon{
		padding: 15px 20px;
	}
}
@media (max-width: 779px){
	.myContents{
		top: 35%;
	}
	.myIcon{
		font-size: 20px;
		padding: 10px;
		border: 3px solid #ffffff;
		border-radius: 50%;
	}
	.secondMyIcon{
		padding: 10px 11.25px;
	}
	.thirdMyIcon{
		padding: 10px 12.5px;
	}
	.linkTo > div{
		font-size: 30px;
	}
}
@media (max-width: 620px){
	#name {
		font-size: 25px;
	}
	#job{
		font-size: 15px;
	}
	.myContents{
		top: 30%;
	}
	.myIcon {
		font-size: 20px;
		padding: 8px;
		border: 2px solid rgb(255, 255, 255);
		border-radius: 50%;
	}
	#mySNS > a:hover > .myIcon {
		color: rgb(50, 73, 94);
		background-color: rgb(255, 255, 255);
		border: 2px solid rgb(50, 73, 94);
	}
	.secondMyIcon{
		padding: 8px 9.25px;
	}
	.thirdMyIcon {
		padding: 8px 10.5px;
	}
	#mySNS > a > p {
		margin-top: 3%;
		font-size: 10px;
	}
	.linkTo > div {
		font-size: 25px;
	}
}
@media (max-width: 360px){
	.me{
		width: 70%;
		top: 5%;
		left: 15%;
	}
	.myContents{
    	top: 45%;
    	left: 25%;
	}
	#mySNS {
		text-align: center;
	}
	.linkTo{
		margin: 5% auto;
	}
	.linkTo > div{
		margin: 10% 2%;
		font-size: 35px;
		text-align: center;
	}
	.linkTo > div > li {
		text-align: center;
	}
	#openBox > p {
		text-align: center;
		border-top: 2px solid;
		border-bottom: 2px solid;
		width: 75%;
		margin: 0 auto;
	}
}
